*{
 
  margin: 0;
  padding: 0;
}
body{
  background: #1e1f24;
  color: #333;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  
}
.container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(150, 148, 148);
  border:0px solid black;
  width: 70%;
  padding: 0px 5px 0px 5px;
  margin:0px auto;
  background-color: white;
  }
.header{
  background-color: rgb(25, 25, 247);
  
  height: 55px;
  color:white;
  text-align: left;
  margin:0 auto;
  font-size: 25px;
  line-height: 55px;
  box-shadow: 7px 7px 10px 5px black;
}
.header span{
  margin-left: 20px;
  font-size: 18px;
  font-family: cursive;
}
.footer{
  background-color: black;
  color:white;
  border-radius: 5px;
  margin-top: 100px;
}
.descripcion{
  margin-top: 25px;
}
img{
  width: 80%;
}